package views

templ Login() {
	<div class="container">
		<div class="jumbotron text-center text-success">
			<h1><span class="fa fa-lock"></span> Questions admin app</h1>
			<p>Login or Register with:</p>
			<a href="/auth?provider=google" class="btn btn-danger"><span class="fa fa-google"></span> Sign in with Google</a>
		</div>
	</div>
}
