package views

import "github.com/eriklupander/templ-demo/internal/app"

templ Questions(questions []app.Question) {
	<div id="questions">
		for _, q := range questions {
			@Card(q)
			<br/>
		}
	</div>
}
